<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefan Kolmogorov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='anim.css') }}">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="head-button" href="#home">Home</a></li>
                <li><a class="head-button" href="#about">About</a></li>
                <li><a class="head-button" href="#skills">Skills</a></li>
                <li><a class="head-button" href="#projects">Projects</a></li>
            </ul>
        </nav>
    </header>
    <section class="welcome-section" id="home">
        <div class="left-container">
            <div class="hello">
                <div class="socials">
                    <a href="https://github.com/stefkolm"><img class="icon" src="static/gh.png"></a>
                    <a href="https://www.instagram.com/stefkolml/"><img class="icon" src="static/insta.png"></a>
                    <a href="https://www.youtube.com/channel/UCdRhPTuYC_ogyY6C60I1wKg"><img class="icon" src="static/yt.png"></a>
                    <a href="mailto:stefankolmogorov28@gmail.com"><img class="icon" src="static/email.png"></a>
                </div>
                <h1>Hi, I'm Stefan</h1>
                <div class="who">
                    <div class="words">
                        <h1>
                            <a href="" class="typewrite" data-period="2000" data-type='[ "Game", "Web", "Software" ]'>
                                <span class="wrap"></span>
                            </a>
                            <a class="developer">Developer</a>
                        </h1>  
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="pfp">
                <div class="window">
                    <div class="window-content">
                        <h1>IMG_2871.png</h1>
                        <span class="material-symbols-outlined">
                        close
                        </span>
                    </div>
                </div>
                <img src="static/IMG_2871.png">
            </div>
        </div>
    </section>
    <section class="about-container" id="about">
        <div class="about-title">
            <h1>{About me}</h1>
        </div>
        <div class="description-container">
            <div class="console-content">
                <h1>about_me.txt</h1>
            </div>
            <div class="description">
                <h1>I am a <span class="highlighted">17-year-old</span> developer from <span class="highlighted">Malmö, Sweden.</span> I am a student at Teknik school <span class="highlighted">Pauliskolan</span> 
                    I love to program in my free time and enjoy learning new <span class="highlighted">things</span>. I also have a passion for playing and creating games, 
                    and I have been making games for <span class="highlighted">three years</span> now.
                </h1>
            </div>
        </div>
        <div class="description-content">
            <div class="left-description">
                <div class="pic-window">
                    <div class="window-title">
                        <h1>me.png</h1>
                    </div>
                    <div class="img-container">
                        <img src="static/me.png">
                    </div>
                </div>
            </div>
            <div class="right-description">
                <div class="json-window">
                    <div class="window-title">
                        <h1>info.json</h1>
                    </div>
                    <div class="text-container">
                        <h1>{</h1>
                            <div class="json-item">
                                <h2><span class="json-name">"name"</span>: <span class="json-value">"Stefan Kolmogorov"</span>,</h2>
                            </div>
                            <div class="json-item">
                                <h2><span class="json-name">"age"</span>: <span class="json-value">17</span>,</h2>
                            </div>
                            <div class="json-item">
                                <h2><span class="json-name">"residence"</span>: <span class="json-value">"Malmö"</span>,</h2>
                            </div>
                            <div class="json-item">
                                <h2><span class="json-name">"languages"</span>: [<span class="json-value">"Python", "C#", "JS"</span>]</h2>
                            </div>
                        <h1>}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="Skills" id="skills">
        <h1>Skills</h1>
        <div class="skills-container">
            <div class="skill-container">
                <h1>languages</h1>
                <div class="skill-objects">
                    <div class="skill-item">
                        <img src="static/python.png">
                        <h1>Python</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/cs.png">
                        <h1>C#</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/js.png">
                        <h1>JavaScript</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/html.png">
                        <h1>HTML</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/css.png">
                        <h1>CSS</h1>
                    </div>
                </div>
            </div>
            <div class="skill-container" id="middle">
                <h1>Technologies</h1>
                <div class="skill-objects">
                    <div class="skill-item">
                        <img src="static/unity.png">
                        <h1>Unity</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/unreal.png">
                        <h1>Unreal Engine</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/react.png">
                        <h1>React</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/gsap.svg">
                        <h1>Gsap</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/sass.png">
                        <h1>Sass</h1>
                    </div>
                </div>
            </div>
            <div class="skill-container">
                <h1>Other</h1>
                <div class="skill-objects">
                    <div class="skill-item">
                        <img src="static/ubuntu.png">
                        <h1>Ubuntu</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/premier.png">
                        <h1>Premier</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/figma.png">
                        <h1>Figma</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/blender.png">
                        <h1>Blender</h1>
                    </div>
                    <div class="skill-item">
                        <img src="static/github.png">
                        <h1>Github</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects" id="projects">  
        <h1>My Projects</h1>
        <div class="projects-container">
            <div class="project-item">
                <div class="project-thumbnail">
                    <img src="static/game.png">
                </div>
                <div class="project-info">
                    <h1>The Bell</h1>
                    <p>"The Bell" is a horror game crafted using the Unreal Engine platform, created specifically for a horror-themed game jam.</p>
                    <a href="https://bluecrate.itch.io/the-bell">itch.io</a>
                </div>
            </div>
        </div>
    </section> 
</body>
</html>
